<tr>
  <td class="blog-title"><%= blog.title %></td>
  <td><%= shorten_text blog.body, 50 %></td>
  <td class="blog-created-time"><%= time_ago blog.created_at %></td>
  <td><%= link_to change_block_status(blog), change_status_blog_path(blog) %></td>
  <td><%= link_to 'Show', blog %></td>
  <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
  <td><%= link_to 'Destroy', blog, method: :delete %></td>
</tr>
