<!DOCTYPE html>
<html>
  <head>
    <title><%= generate_title(yield :title) %></title>
    <%= render 'layouts/import' %>
  </head>
  <body>
    <%= render "layouts/nav" %>
    <div class="clearfix">
      <div>
        <%= render "shared/flash" %>
      </div>
    </div>
    <%= yield %>
    <%= source_helper %>
  </body>
</html>
